@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

.animate-shine {
  animation: shine 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scroll-left 60s linear infinite;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer utilities {
  .bg-gradient-primary {
    background: linear-gradient(86.67deg, #844BDC 7.23%, #AC4FF1 100%);
  }
}
